<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<?php 
    session_start(); 
    if(isset($_SESSION['user'])==''){
        echo '<script type="text/javascript">
                location.replace("index.php");
            </script>';
    }
    ?>-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Cusom css -->

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <!-- Header -->
        <!--<?php 

            if(isset($_GET['logout'])){
                unset($_SESSION['user']);
                echo '<script type="text/javascript">
                    location.replace("index.php");
                </script>';
            }
        
        ?>-->
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a href="index.php">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a th:href="@{/index}">Home</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='All')}">All</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                <li class="drop with--one--item"><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search"><a class="search__active" href="#"></a></li>
                            <li class="wishlist"></li>
                            <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                    <div class="content-inner">

                                        <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>My Account</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/account}">Profile</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/orders}">Orders</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/logout}">Logout</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="shopcart"><a class="cartbox_active" href="#"></a>
                                <!-- Start Shopping Cart -->
                                <div class="block-minicart minicart__active">
                                    <div class="minicart-content-wrapper">
                                        <div class="micart__close">
                                            <span>close</span>
                                        </div>
        
                                        <div class="mini_action checkout">
                                            <a class="checkout__btn" href="cart.php">Go to Cart</a>
                                        </div>
                                        <div class="single__items">
                                            <div class="miniproduct">
                                                <!--<?php 
                                                    require_once 'db.php';
                                                    $conn = new mysqli($hn,$un,$pw,$db); 
                                                    if ($conn ->connect_error) die ($conn->connect_error);

                                                    if(isset($_SESSION['user'])){
                                                        $user = $_SESSION['user'];
                                                        $q = $conn->query("SELECT * from cart WHERE user_id='$user'");
                                                        if($q){
                                                            while($data=$q->fetch_array()){
                                                                $proid = $data['product_id'];
                                                                $proq = $conn->query("SELECT * from product WHERE id=$proid");
                                                                $prodetails = $proq->fetch_array();
                                                                echo '<div class="item01 d-flex">
                                                                    <div class="thumb">
                                                                        <a href="product-details.php"><img
                                                                                src="'.$prodetails['image'].'"
                                                                                alt="product images"></a>
                                                                    </div>
                                                                    <div class="content">
                                                                        <h6><a href="#">'.$prodetails['name'].'</a></h6>
                                                                        <span class="prize">$'.$data['price'].'</span>
                                                                        <div class="product_prize d-flex justify-content-between">
                                                                            <span class="qun">Qty: 0'.$data['quantity'].'</span>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>';
                                                            }   
                                                        }

                                                    }

                                                ?>-->
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Shopping Cart -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a th:href="@{/index}">Home</a></li>
                                <li><a th:href="@{/store(param='All')}">All</a></li>
                                <li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                
                                <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <div class="ht__bradcaump__area bg-image--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Account</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<?php 

            require_once 'db.php';
            $conn = new mysqli($hn,$un,$pw,$db); 
            if ($conn ->connect_error) die ($conn->connect_error);
            $userinfo = [];

            


            if(isset($_POST['save'])){
                $user = $_SESSION['user'];
                $email = $_POST['email'];
                $f = $_POST['first'];
                $l = $_POST['last'];
                $phone = $_POST['phone'];
                $g = $_POST['gender'];
                $dob = $_POST['dob'];
                $pid = $_POST['pid'];

                $q = "UPDATE  user SET fname='$f',lname='$l',email='$email',phone='$phone',gender='$g',dob='$dob' WHERE id='$pid' ";

                $r = $conn->query($q); 

                if (!$r) die ($conn->error);



            }

            if(isset($_SESSION['user'])){
                $user = $_SESSION['user'];
                $q = $conn->query("SELECT * FROM user WHERE id='$user'");
                $userinfo = $q->fetch_array();
            }

        
        ?>-->

        <div class="page-blog-details pt--80 pb--45 bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-12">
						<div class="blog-details content">
							<div class="comment_respond">
								<h3 class="reply_title">Profile Details</h3>
								<form class="comment__form" action="account.php" method='post'>
									<div class="input__wrapper clearfix">
                                        <input type='hidden' value="<?php if($userinfo){echo $userinfo['id'];} ?>" name='pid'>
										<div class="input__box name one--third">
											<label>First Name</label>
											<input type="text" name='first' value="<?php if($userinfo){echo $userinfo['fname'];} ?>" >
										</div>

                                        <div class="input__box name one--third">
											<label>Last Name</label>
											<input type="text"  name='last' value="<?php if($userinfo){echo $userinfo['lname'];} ?>" >
										</div>
                                        <div class="input__box name one--third">
											<label>Email</label>
											<input type="email"  name='email' value="<?php if($userinfo){echo $userinfo['email'];} ?>" >
										</div>
										<div class="input__box website one--third">
											<label>Phone</label>
											<input type="text"   name='phone' value="<?php if($userinfo){echo $userinfo['phone'];} ?>">
										</div>
                                        <div class="input__box website one--third">
											<label>Gender</label>
											<input type="text"  name='gender' value="<?php if($userinfo){echo $userinfo['gender'];} ?>">
										</div>
                                        <div class="input__box website one--third">
											<label>Date of Birth</label>
											<input type="date"  name='dob' value="<?php if($userinfo){echo $userinfo['dob'];} ?>" >
										</div>
                                        <br>
									</div>
									<div class="submite__btn">
										<button class='specialBtn' type="submit" name='save' >Save changes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="#">
                                        <img src="images/logo/logo-f.png" alt="logo">
                                    </a>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a th:href="@{/index}">Home</a></li>
                                		<li><a th:href="@{/store(param='All')}">All</a></li>
                                		<li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                		<li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                		<li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                		<li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                
                                		<li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                		<li><a th:href="@{/contactus}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="#">Pet Shop.</a> All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

</body>

</html>