<!doctype php>
<php class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<?php 
    session_start(); 
    if(isset($_SESSION['user'])==''){
        echo '<script type="text/javascript">
                location.replace("index.php");
            </script>';
    }
    ?>-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Cusom css -->

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <!-- Header -->
        <!--<?php 

        if(isset($_GET['logout'])){
            unset($_SESSION['user']);
            echo '<script type="text/javascript">
                location.replace("index.php");
            </script>';
        }

        ?>-->
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a th:href="@{/index}">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a th:href="@{/index}">Home</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='All')}">All</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                <li class="drop with--one--item"><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search"><a class="search__active" href="#"></a></li>
                            <li class="wishlist"></li>
                            <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                    <div class="content-inner">

                                        <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>My Account</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/account}">Profile</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/orders}">Orders</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/logout}">Logout</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="shopcart"><a class="cartbox_active" href="#"></a>
                                <!-- Start Shopping Cart -->
                                <div class="block-minicart minicart__active">
                                    <div class="minicart-content-wrapper">
                                        <div class="micart__close">
                                            <span>close</span>
                                        </div>
        
                                        <div class="mini_action checkout">
                                            <a class="checkout__btn" th:href="@{/cart}">Go to Cart</a>
                                        </div>
                                        <div class="single__items">
                                            <div class="miniproduct">
                                                <!--<?php 
                                                    require_once 'db.php';
                                                    $conn = new mysqli($hn,$un,$pw,$db); 
                                                    if ($conn ->connect_error) die ($conn->connect_error);

                                                    if(isset($_SESSION['user'])){
                                                        $user = $_SESSION['user'];
                                                        $q = $conn->query("SELECT * from cart WHERE user_id='$user'");
                                                        if($q){
                                                            while($data=$q->fetch_array()){
                                                                $proid = $data['product_id'];
                                                                $proq = $conn->query("SELECT * from product WHERE id=$proid");
                                                                $prodetails = $proq->fetch_array();
                                                                echo '<div class="item01 d-flex">
                                                                    <div class="thumb">
                                                                        <a href="product-details.php"><img
                                                                                src="'.$prodetails['image'].'"
                                                                                alt="product images"></a>
                                                                    </div>
                                                                    <div class="content">
                                                                        <h6><a href="#">'.$prodetails['name'].'</a></h6>
                                                                        <span class="prize">$'.$data['price'].'</span>
                                                                        <div class="product_prize d-flex justify-content-between">
                                                                            <span class="qun">Qty: 0'.$data['quantity'].'</span>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>';
                                                            }   
                                                        }

                                                    }

                                                ?>-->
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Shopping Cart -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a th:href="@{/index}">Home</a></li>
                                <li><a th:href="@{/store(param='All')}">All</a></li>
                                <li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                
                                <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <div class="ht__bradcaump__area bg-image--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Checkout</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<?php
			require_once 'db.php';
			$conn = new mysqli($hn,$un,$pw,$db); 
			if ($conn ->connect_error) die ($conn->connect_error);
			$userinfo = '';
			$cartlist = '';


			if(isset($_POST['checkout'])){
				$firstname = $_POST['firstn'];
				$lastname = $_POST['lastn'];
				$phone = $_POST['phone'];
				$country = $_POST['country'];
				$district = $_POST['district'];
				$postcode = $_POST['postcode'];
				$firstname = $_POST['firstn'];
				$address1 = $_POST['address1'];
				$address2 = $_POST['address2'];
                $pay = $_POST['pay'];
				$user = $_SESSION['user'];
				
				$check_profile = $conn->query("SELECT * from user WHERE id=$user");
				$profile_id = '';
                if($check_profile->num_rows > 0){
                    $profile = $check_profile->fetch_array();
					$profile_id = $profile['id'];
                    $userinfo = "UPDATE  user SET fname='$firstname',lname='$lastname',phone='$phone' WHERE id='$profile_id' ";
					$r = $conn->query($userinfo); 
					if (!$r) die ($conn->error);
                }


				if($profile_id){
					$address = $address1.', '.$address2;

					$check_cart = $conn->query("SELECT * from cart WHERE user_id=$user");
	
					if($check_cart){
						
						while($data=$check_cart->fetch_array()){
							$productid = $data['product_id'];
							$price = $data['price'];
							$qty= $data['quantity'];
							$q = "INSERT INTO orders (profile_id,product_id,price,qty,country,district,postcode,address,status,payment) VALUES ('$profile_id','$productid','$price','$qty','$country','$district','$postcode','$address','Pending','$pay')";
							$rs = $conn->query($q);
							if (!$rs) die ($conn->error);
							$cartid = $data['id'];
							$remove_r = $conn->query("DELETE from cart WHERE id=$cartid"); 
							if (!$remove_r) die ($conn->error);
						}
	
					}


					

					echo '<script type="text/javascript">
						location.replace("index.php");
					</script>';
				}



				




			}






			if(isset($_SESSION['user'])){
				$user = $_SESSION['user'];
				$q = $conn->query("SELECT * from user WHERE id=$user");
				$userinfo = $q->fetch_array();

				$cartlist = $conn->query("SELECT * from cart WHERE user_id=$user");
                if(!$cartlist) die ($conn->error);

			}


		?>-->


        <section class="wn__checkout__area section-padding--lg bg__white">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-6 col-12">
        				<div class="customer_details">
        					<h3>Billing details</h3>
							<form action="checkout.php" method="POST" >
								<div class="customar__field">
									<div class="margin_between">
										<div class="input_box space_between">
											<label>First name <span>*</span></label>
											<input type="text" required name='firstn' value="<?php echo $userinfo['fname']; ?>">
										</div>
										<div class="input_box space_between">
											<label>last name <span>*</span></label>
											<input type="text" required name='lastn' value="<?php echo $userinfo['lname']; ?>">
										</div>
									</div>
									<div class="input_box">
										<label>Phone number <span>*</span></label>
										<input type="text" required name='phone' value="<?php echo $userinfo['phone']; ?>">
									</div>
									<div class="input_box">
										<label>Country<span>*</span></label>
										<select class="select__option" name='country' required>
											<option value=''>Select a country…</option>
											<option value="india">India</option>
											<option value='usa'>USA</option>
											<option value='dubai'>Dubai</option>
											
										</select>
									</div>
									<div class="input_box">
										<label>District <span>*</span></label>
										<input type="text" required placeholder="	" name='district'>
									</div>
									<div class="input_box">
										<label>Postcode / ZIP <span>*</span></label>
										<input type="text" required name='postcode'>
									</div>
									<div class="input_box">
										<label>Address <span>*</span></label>
										<input type="text" required name='address1' placeholder="Street address">
									</div>
									<div class="input_box">
										<input type="text" required name='address2' placeholder="Apartment, suite, unit etc. (optional)">
									</div>
									
									
								</div>
                                <div id='payment'>

                                </div>
								<div class="cartbox__btn">
									<ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-end">
										<li><button onclick="handleCheckout()" class="specialBtn" type='submit'  name="checkout">Place order</button></li>
									</ul>
								</div>

							</form>
        					
        				</div>
        			</div>
        			<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
        				<div class="wn__order__box">
        					<h3 class="onder__title">Your order</h3>
        					<ul class="order__total">
        						<li>Product</li>
        						<li>Total</li>
        					</ul>
        					<ul class="order_product">
							<!--<?php 
							$total = 0;
							while($data=$cartlist->fetch_array()){
								$productid = $data['product_id'];
								$productq = $conn->query("SELECT * from product WHERE id=$productid");
								$productdetails = $productq->fetch_array();

								echo '<li>'.$productdetails['name'].'<span>$'.$data['price'].'</span></li>';
								$total += $data['price'];
							}
							
							?>-->
        					</ul>
        					<ul class="total__amount">
        						<li>Order Total <span>$<?php echo $total; ?></span></li>
        					</ul>
        				</div>
                        <div id="accordion" class="checkout_accordion mt--30" role="tablist">
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingOne">
						          	<a class="checkout__title" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						                <span>Direct Bank Transfer</span>
						          	</a>
						        </div>
						        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
					            	<div class="payment-body" style="display: flex;justify-content: end;" >
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>

                                    <input class="form-check-input" value='direct bank' type="checkbox" name='pay'  id="gridCheck1">
                                    </div>
                                    
                                </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingTwo">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							            <span>Cheque Payment</span>
                                        
						          	</a>
						        </div>
						        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
					          		<div class="payment-body" style="display: flex;justify-content: end;"><p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p><input class="form-check-input" value='cheque' type="checkbox" name='pay'  id="gridCheck1"></div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingThree">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							            <span>Cash on Delivery</span>
						          	</a>
						        </div>
						        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
					          		<div class="payment-body" style="display: flex;justify-content: end;"><p>Pay with cash upon delivery.</p><input class="form-check-input" value='COD' checked="true" type="checkbox" name='pay'  id="gridCheck1"></div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingFour">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							            <span>PayPal <img src="images/icons/payment.png" alt="payment images"> </span>
						          	</a>
						        </div>
						        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
					          		<div class="payment-body" style="display: flex;justify-content: end;"><p>Pay with cash upon delivery.</p><input class="form-check-input" value='paypal' type="checkbox" name='pay'  id="gridCheck1"></div>
						        </div>
						    </div>
					    </div>
					    

        			</div>
        		</div>
        	</div>
        </section>


        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="#">
                                        <img src="images/logo/logo-f.png" alt="logo">
                                    </a>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-faceproduct"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a th:href="@{/index}">Home</a></li>
                                		<li><a th:href="@{/store(param='All')}">All</a></li>
                                		<li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                		<li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                		<li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                		<li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                
                                		<li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                		<li><a th:href="@{/contactus}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="#">Pet Shop.</a> All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
    <script src="js/main.js"></script>

</body>

</php>