<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pet Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<?php session_start(); $msg_add_cart='';?>-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Cusom css -->

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
    <!--<?php 

    if(isset($_GET['logout'])){
        unset($_SESSION['user']);
        echo '<script type="text/javascript">
            location.replace("index.php");
        </script>';
    }

    ?>-->
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a href="index.php">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a th:href="@{/index}">Home</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='All')}">All</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                <li class="drop with--one--item"><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search"><a class="search__active" href="#"></a></li>
                            <li class="wishlist"></li>
                            <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                <div class="content-inner">
								
								
										<div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>Register</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/login}">Login</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/register}">Register</a></span>
                                                    </div>
                                                </div>
                                            </div>
								
								
								
                                        <!--<?php 
                                        
                                        if(isset($_SESSION['user'])){
                                            echo '<div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>My Account</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a href="account.php">Profile</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a href="orders.php">Orders</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a href="?logout=user">Logout</a></span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>';
                                        }else{
                                            echo '<div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>Register</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a href="login.php">Login</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a href="register.php">Register</a></span>
                                                    </div>
                                                </div>
                                            </div>';
                                        }


                                        
                                        ?>-->
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="shopcart"><a class="cartbox_active" href="#"></a>
                                <!-- Start Shopping Cart -->
                                <div class="block-minicart minicart__active">
                                    <div class="minicart-content-wrapper">
                                        <div class="micart__close">
                                            <span>close</span>
                                        </div>
        
                                        <div class="mini_action checkout">
                                            <a class="checkout__btn" th:href="@{/cart}">Go to Cart</a>
                                        </div>
                                        <div class="single__items">
                                            <div class="miniproduct">
                                                <!--<?php 
                                                    require_once 'db.php';
                                                    $conn = new mysqli($hn,$un,$pw,$db); 
                                                    if ($conn ->connect_error) die ($conn->connect_error);

                                                    if(isset($_SESSION['user'])){
                                                        $user = $_SESSION['user'];
                                                        $q = $conn->query("SELECT * from cart WHERE user_id='$user'");
                                                        if($q){
                                                            while($data=$q->fetch_array()){
                                                                $proid = $data['product_id'];
                                                                $proq = $conn->query("SELECT * from product WHERE id=$proid");
                                                                $prodetails = $proq->fetch_array();
                                                                echo '<div class="item01 d-flex">
                                                                    <div class="thumb">
                                                                        <a href="product-details.php"><img
                                                                                src="'.$prodetails['image'].'"
                                                                                alt="product images"></a>
                                                                    </div>
                                                                    <div class="content">
                                                                        <h6><a href="#">'.$prodetails['name'].'</a></h6>
                                                                        <span class="prize">$'.$data['price'].'</span>
                                                                        <div class="product_prize d-flex justify-content-between">
                                                                            <span class="qun">Qty: 0'.$data['quantity'].'</span>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>';
                                                            }   
                                                        }

                                                    }

                                                ?>-->
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Shopping Cart -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a th:href="@{/index}">Home</a></li>
                                <li><a th:href="@{/store(query='All')}">All</a></li>
                                <li><a th:href="@{/store(query='cat')}">Cats</a></li>
                                <li><a th:href="@{/store(query='dog')}">Dogs</a></li>
                                <li><a th:href="@{/store(query='bird')}">Birds</a></li>
                                <li><a th:href="@{/store(query='reptile')}">Reptiles</a></li>
                                
                                <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <div class="brown--color box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" action="index.php" method='post'>
                <div class="field__search">
                    <input type="text" name='value' placeholder="Search entire store here...">
                    <div class="action">
                        <button type='submit' name='search' style='border:0;' ><i class="zmdi zmdi-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="close__wrap">
                <span>close</span>
            </div>
        </div>
        <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
            <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
                <!--  -->
            </div>

            <div class="slide animation__style10 bg-image--2 fullscreen align__center--left">
                <!--  -->
            </div>
        </div>
        <!--<?php 
           if (isset($_SESSION['msg_add_cart'])){
                echo '<p class="text-primary font-weight-bold " style="font-size:20px;margin-top:30px; text-align:center; ">'.$_SESSION['msg_add_cart'].'</p>';
                unset($_SESSION['msg_add_cart']);
            }
        ?>-->
        <section class="wn__product__area brown--color pt--80  pb--30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title text-center">
                            <h2 class="title__be--2"><span class="color--theme">Catergories</span></h2>
                        </div>
                    </div>
                </div>
                <!-- Start Single Tab Content -->
                <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" href="#"><img src="images/category/reptile.jpg" alt="product image"></a>
                                <a class="second__img animation1" href="#"><img src="images/category/reptile.jpg"
                                        alt="product image"></a>
                            </div>
                            <div class="product__content content--center">
                                <h3><a th:href="@{/store(param='reptile')}">Reptiles</a></h3>
                                <div class="mini_action checkout" style="margin-top: 1em;">
                                    <a class="cart__btn__list" th:href="@{/store(param='reptile')}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" href="#"><img src="images/category/cat.jpg" alt="product image"></a>
                                <a class="second__img animation1" href="#"><img src="images/category/cat.jpg"
                                        alt="product image"></a>
                            </div>
                            <div class="product__content content--center">
                                <h3><a th:href="@{/store(param='cat')}">Cats</a></h3>
                                <div class="mini_action checkout" style="margin-top: 1em;">
                                    <a class="cart__btn__list" th:href="@{/store(param='cat')}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" href="#"><img src="images/category/dog.jpg" alt="product image"></a>
                                <a class="second__img animation1" href="#"><img src="images/category/dog.jpg"
                                        alt="product image"></a>
                            </div>
                            <div class="product__content content--center">
                                <h3><a th:href="@{/store(param='dog')}">Dogs</a></h3>
                                <div class="mini_action checkout" style="margin-top: 1em;">
                                    <a class="cart__btn__list" th:href="@{/store(param='dog')}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" href="#"><img src="images/category/bird.jpg" alt="product image"></a>
                                <a class="second__img animation1" href="#"><img src="images/category/bird.jpg"
                                        alt="product image"></a>
                            </div>
                            <div class="product__content content--center">
                                <h3><a th:href="@{/store(param='bird')}">Birds</a></h3>
                                <div class="mini_action checkout" style="margin-top: 1em;">
                                    <a class="cart__btn__list" th:href="@{/store(param='bird')}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Tab Content -->
            </div>
        </section>
        
        <!--<?php 

        require_once 'db.php';
        $conn = new mysqli($hn,$un,$pw,$db); 
        if ($conn ->connect_error) die ($conn->connect_error);
                                     

        if(isset($_GET['product'])){
            echo '<script type="text/javascript">
                    location.replace("singleproduct.php?id='.$_GET['product'].');
                </script>';
            
            
        }

        
        ?>-->
        <section class="wn__bestseller__area bg--white pt--80  pb--30">
            <div class="container">
            <p class="text-info font-weight-bold " style="text-align:center;font-size:20px; margin-bottom:25px;"><?php echo $msg_add_cart;?></p>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title text-center">
                            <h2 class="title__be--2">Popular <span class="color--theme">Products</span></h2>
                        </div>
                    </div>
                </div>
                <div class="tab__container mt--60">
                <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
                    <!-- Start Single Tab Content -->
                    <!--<?php 
                    require_once 'db.php';
                    $conn = new mysqli($hn,$un,$pw,$db); 
                    if ($conn ->connect_error) die ($conn->connect_error);
            
                    $product = $conn->query("SELECT * FROM product");

                    if(isset($_POST['search'])){
                        $s = $_POST['value'];
                        $product = $conn->query("SELECT * FROM product WHERE (name LIKE '%$s%' or category LIKE '%$s%' )");
                        if (!$product) die ($conn->error);

                    }


                    if($product){
                        while($data=$product->fetch_array()){
                            echo '
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product product__style--3">
                                    <div class="product__thumb">
                                        <a class="first__img" href="#"><img src='.$data["image"].'
                                                alt="product image"></a>
                        
                                    </div>
                                    <div class="product__content content--center content--center">
                                        <h4><a href="#">'.$data["name"].'</a></h4>
                                        <ul class="prize d-flex">
                                            <li>$'.$data["price"].'</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a href="singleproduct.php?id='.$data["id"].'"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ';
                        }
                    }
                    
                    ?>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="wn__recent__post bg--gray pt--80  pb--30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title text-center">
                            <h2 class="title__be--2">Our <span class="color--theme">Story</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 55px;">
                    <div class="row">
                        <div class="our-story-img col-sm-6 col-xl-6"></div>
                        <div class="col-xl-6">
                            <div class="row justify-content-center">
                                <div>
                                    <div class="p-4">
                                        <p>
                                            Nowadays , People are seeking fresh and modern marketing strategies to implement to
                                            their businesses.
                                            LAAN means something kept back for future use.
                                            LAAN is a marketing agency that focuses on developing innovative content for
                                            businesses. Our prime goal is to have cutting-edge marketing solutions capable of
                                            influencing people. 
                                            We strive to comprehend the client's view in the most effective manner possible in
                                            order to meet their requirements.
                                            LAAN is here to keep you ahead of the game.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="#">
                                        <img src="images/logo/logo-f.png" alt="logo">
                                    </a>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a th:href="@{/index}">Home</a></li>
                                        <li><a th:href="@{/store(param='ALL')}">All</a></li>
                                        <li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                        <li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                        <li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                        <li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>

                                        <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                        <li><a th:href="@{/contactus}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="#">Pet Shop.</a> All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

        <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

    </div>
</body>
</html>