<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <?php session_start(); $msg_add_cart='';?> -->

    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Cusom css -->

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <!-- Header -->
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a th:href="@{/index}">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a th:href="@{/index}">Home</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='All')}">All</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='cat')}">Cats</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='bird')}">Birds</a></li>
                                <li class="drop with--one--item"><a th:href="@{/store(param='reptile')}">Reptiles</a></li>
                                <li class="drop with--one--item"><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search"><a class="search__active" href="#"></a></li>
                            <li class="wishlist"></li>
                            <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                <div class="content-inner">
                                        
                                        
                                        <div sec:authorize="isAuthenticated()">    
                                            <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>My Account</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/account}">Profile</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/orders}">Orders</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/logout}">Logout</a></span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        	</div>
                                        </div>
                                        
                                        <div sec:authorize="isAnonymous()">    
                                            <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>Register</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/login}">Login</a></span>
                                                    </div>
                                                    <div class="setting__menu">
                                                        <span><a th:href="@{/register}">Register</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li class="shopcart"><a class="cartbox_active" href="#"></a>
                                <!-- Start Shopping Cart -->
                                <div class="block-minicart minicart__active">
                                    <div class="minicart-content-wrapper">
                                        <div class="micart__close">
                                            <span>close</span>
                                        </div>
        
                                        <div class="mini_action checkout">
                                            <a class="checkout__btn" th:href="@{/cart}">Go to Cart</a>
                                        </div>
                                        <div class="single__items">
                                            <div class="miniproduct">                                                                
                                                                
                                                 <tr th:each="ucp: ${userCartProducts}">   
                                                       <div class="item01 d-flex">
                                                            <div class="thumb">
                                                                 <a th:href="@{/product-details}"><img
                                                                     th:src="${ucp.image}"
                                                                     alt="product images"></a>
                                                            </div>
                                                            <div class="content">
                                                                 <h6><a href="#"><h4 th:text="ucp.name"></h4> </a></h6>
                                                                    <span class="prize" th:text="${ucp.price}"></span>
                                                                      <div class="product_prize d-flex justify-content-between">
                                                                          <span class="qun">Qty: <h4 th:text="${ucp.quantity}"></h4> </span>
                                                                            
                                                                      </div>
                                                            </div>
                                                      </div>
                                                </tr>
                                                                
                                                                
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Shopping Cart -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a th:href="@{/index}">Home</a></li>
                                        <li><a th:href="@{/store(param='ALL')}">All</a></li>
                                        <li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                        <li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                        <li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                        <li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>

                                        <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                        <li><a th:href="@{/contactus}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <div class="ht__bradcaump__area bg-image--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Product</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="maincontent bg--white pt--80 pb--55">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12">

        				<div class="wn__single__product">
                        
                        <form method="post" th:action="@{/addToCart}">
                            <div class="row">
                                            
                                            
                                            <div class="col-lg-6 col-12">
                                                <div class="wn__fotorama__wrapper">
                                                    <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                                        <a href="#"><img th:src="${singleProduct.image}" alt=""></a>		        						
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="product__info__main">
                                                    <h1 th:text="${singleProduct.name}"></h1>
                                                    
                                                    <div class="price-box">
                                                        <h1 th:text=" ${'$ ' + singleProduct.price}"></h1>
                                                    </div>
                                                    <div class="product__overview">
                                                        <p th:text="${singleProduct.descrip}"></p>
                                                    </div>
                                                    <div class="box-tocart d-flex">
                                                        <span>Qty</span>
                                                        <input type="hidden" name="pro" th:value="${singleProduct.id}" >
                                                        <input type="hidden" name="userId" th:value="${session.user?.id}" >
                                                        <input id="qty" class="input-text qty" value="1" name="qty" min="1"  title="Qty" type="number">
                                                        <div sec:authorize="isAuthenticated()">
                                                        <div class="addtocart__actions">
                                                            <button class="tocart" name="addpro" type="submit" title="Add to Cart">Add to Cart</button>
                                                        </div>
                                                        </div>
                                                        <div class="addtocart__actions" sec:authorize="isAnonymous()">
                                                        	<button class="tocart"type="submit" th:href="@{/login}">Login to continue</button>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                        </div>
                                        
                                        
        					</div>
                        </form>
        				</div>
                                
        			</div>

        		</div>
        	</div>
        </div>

        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="#">
                                        <img src="images/logo/logo-f.png" alt="logo">
                                    </a>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a th:href="@{/index}">Home</a></li>
                                        <li><a th:href="@{/store(param='ALL')}">All</a></li>
                                        <li><a th:href="@{/store(param='cat')}">Cats</a></li>
                                        <li><a th:href="@{/store(param='dog')}">Dogs</a></li>
                                        <li><a th:href="@{/store(param='bird')}">Birds</a></li>
                                        <li><a th:href="@{/store(param='reptile')}">Reptiles</a></li>

                                        <li><a th:href="@{/vetfinder}">Vet Finder</a></li>
                                        <li><a th:href="@{/contactus}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="#">Pet Shop.</a> All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

</body>

</html>